@import "../../breakpoints/breakpoints.scss";
.search{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:2rem;
  margin-inline: auto;
 
  position: relative;
 // max-width: 1500px;

  @include media('<=phone') {
   flex-direction: column;
    width: 100%;
  }
}
.switch{
 
 

  
 @include media('<=phone') {
  padding: 0rem 2rem;
   width: 100%;
 
 }
 
}

.search__box{
  display: flex;
  align-items: flex-start;
  gap: 6.4rem;
  padding: 2rem;
  max-width: 105.6rem;
  

  @include media('<=phone') {
     flex-direction: column;
     width: 100%;
     gap:2rem;
   }
}
.search__inputField{
  width: 100%;
  font-size: 16px;
}


.input__field{
  font-size: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding:  2rem;
  border: 1px solid black;
  width: 75.7rem;
  border-radius: 3rem;

  @include media('<=phone') {
      width: 100%;
      padding:  3rem;
   }
}

.search__button{

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 3rem 6.4rem;
  gap: 1.6rem;
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.25);
  width: 23.5rem;
  height: 4.6rem;
  background: indigo;
  border-radius: 3.2rem;
  font-weight: 700;
  font-size: 2.3rem;
  line-height: 2.8rem;
  text-align: center;
  color: white;

  @include media('<=phone') {
      width: 100%;
      justify-content: center;
   }
}

.unit{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  height: 100%;

}
.switch span{
  font-size: 2rem;
}